@media screen and (min-width: 700px) {
  .pull-right {
    float: right;
  }
  .pull-left {
    float: left;
  }
}
.whole, .half {
  display: block;
}
.whole {
  width: 90%;
}
.unstyled, .unstyled li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Merriweather", "serif";
  font-weight: 300;
  line-height: 1.8em;
  border-top: 4px solid #e1f5a9;
}
a {
  color: #333333;
  text-decoration: none;
  background-image: linear-gradient(#ffffff 50%, #333333 50%);
  background-repeat: repeat-x;
  background-position: 0 1.3rem;
  background-size: 1px 1px;
}
a:hover, a:active {
  color: #808080;
  background-image: linear-gradient(#ffffff 50%, #808080 50%);
}
a:visited {
  color: #333333;
  background-image: linear-gradient(#ffffff 50%, #333333 50%);
}
h1, h2, h3, h4, h5 {
  margin-bottom: 0.2em;
}
p {
  margin: 0.2em 0 1.8em 0;
}
img {
  max-width: 100%;
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
}
.container {
  width: 90%;
  margin: 0 auto;
}
.content {
  min-height: 400px;
}
.initials {
  margin-top: 30px;
  font-size: 140px;
  line-height: 180px;
  font-family: "Merriweather", "serif";
  background-image: none;
  text-align: center;
  display: block;
}
.initials:hover {
  background-image: none;
}
.list-posts {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}
.list-posts li {
  clear: both;
}
.list-posts .title {
  padding: 10px 10px 0 0;
  text-decoration: none;
  color: #333333;
  background: transparent;
  display: block;
}
.list-posts .title:hover {
  color: #808080;
}
.list-posts .date {
  padding: 10px 0 0 0;
  display: block;
}
.footer {
  margin: 20px 0 0 0;
  padding: 20px 20px 20px 20px;
  clear: both;
  font-size: 15px;
  background: #ededed;
  font-size: 18px;
  line-height: 20px;
  border-bottom: 20px solid #878787;
}
.footer .half {
  margin: 10px 0 10px 0;
}
.footer .whole {
  margin: 10px 0 0 0;
  line-height: 3em;
}
.footer .social-link {
  font-size: 40px;
  color: white;
  background: transparent;
}
pre {
  padding: 10px;
  font-size: 15px;
  line-height: 18px;
}
pre code {
  max-width: 100%;
  display: block;
  overflow-x: auto;
}
.post .tags {
  font-size: 12px;
  font-family: sans-serif;
}
.post .meta {
  font-size: 14px;
  line-height: 14px;
  color: gray;
}
.post .highlight {
  margin-top: -1em;
}
@media screen and (min-width: 700px) {
  .footer .half {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
  .footer.first {
    margin-right: 2%;
  }
  .list-posts .title {
    padding: 10px 10px 20px 0;
    text-align: left;
    display: inline-block;
  }
  .list-posts .date {
    text-align: right;
    display: inline-block;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    max-width: 700px;
  }
}
